extends ../layout

block content

	.page-header
		h1 Unverified Account

	.row: .col-md-offset-4.col-md-4
		.content-block
			p
				| Congratulations, you've logged-in, but your account is still awaiting verification. This means that
				| you aren't yet allowed into the app, but should be getting access sooner rather than later. Just wait
				| a bit for a friendly admin to double-check your registration. If there are any problems or questions,
				| they'll get in touch with you using the email you provided.