extends ../layout

block content

	.page-header
		h1 Sign-out

	.row
		.col-md-4.col-md-offset-4
			form(role='form', method='post')

				p Are you sure you want to sign-out?

				.control-group

					.col-md-6
						button Yes

					.col-md-6
						button No

