- var mappings = { error: 'danger', info: 'info', warn: 'warning', success: 'success' };

if flash.message
	.alert.alert-dismissable(class='alert-#{mappings[flash.message.type]}')
		button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
		p #{flash.message.text}