.navbar.navbar-default
	.container

		p.navbar-text.
			Intelligencia
			&copy;
			<a href="https://github.com/aetheric" target="_blank">Aetheric Engineering</a>
			2013

//		p.gplus.navbar-text.navbar-right
//			span.g-plusone(data-href='https://plus.google.com/100072512339103581912')

//script(type='text/javascript', async='true', src='https://apis.google.com/js/plusone.js?onload=onLoadCallback')
