mixin navlink(pagetitle, path)
	- var clazz = ( req.url.match('^' + path) ? 'active' : '' )
	li(class=clazz)
		a(href=path) #{pagetitle}

.navbar.navbar-default(role='navigation')
	.container

		.navbar-header

			button.navbar-toggle(type='button', data-toggle='collapse',  data-target='#navbar-primary')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar

			a.navbar-brand(href='/') Intelligencia

		#navbar-primary.collapse.navbar-collapse

			ul.nav.navbar-nav
				if auth.isValid
					+navlink('Documents', '/app/document/list')
					if auth.isAdmin
						+navlink('User List', '/app/user/list')
					+navlink('User Dashboard', '/app/user/dash')

				block extranav

			ul.nav.navbar-nav.navbar-right
				if auth.isValid
					+navlink('Sign-out', '/auth/logout')
				else if req.url.match('^/auth/login')
					+navlink('Register', '/auth/register')
				else
					+navlink('Sign-in', '/auth/login')
