extends ../../layout

block extranav
	+navlink('User Detail', req.url)

block content

	.page-header
		h1 User Detail

	.row .col-md-12

		.row
			.col-md-4: strong: Id
			.col-md-8: #{user.id}

		.row
			.col-md-4: strong: Username
			.col-md-8: #{user.username}
