extends ../layout

block extranav
	li.active: p.navbar-text Server Error

block content

	.page-title
		h1 Server Error

	.row
		.col-md-12
			p.
				Unfortunately, there was a problem dealing with your request. This may or may not be repeatable, but a
				message has been forwarded to the administrator to notify them of the problem.
			p.
				If the issue can't wait till tomorrow, please contact <a href="http://gplus.to/tzrlk">The developer</a>
				and let them know what's going on. They can be very busy sometimes, so please be understanding.
